{% extends "index.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block content %}
<div class="page-content">
    <div class="row">
		<div class="col-md-12">
			<div class="panel panel-body panel-default">
				<p>操作成功！用户<span style="font-size:20px;color: blue;font-weight: bold;">{{ object.username }}</span>的密码已重置为<span style="font-size:20px;color: blue;font-weight: bold;">{{ newpassword }}</span>.</p>
			</div><!--/panel-body-->
		</div><!--/col-md-12-->
	</div><!--/row-->
</div><!--/page-content-->
{% endblock %}