{% extends "index.html" %}
{% block title %}OPSA-hostslist{% endblock %}
{% block css %}
<!-- DataTables-->
<link rel="stylesheet" href="/static/plugins/dataTables/css/dataTables.css">

{% endblock %}
{% block content %}
			<div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="/">Dashboard</a>
                        </li>
                        <li class="active">设备管理</li>
						<li class="active">主机列表</li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->
                <!-- Page Header -->
				<div class="page-header position-relative">
                    <div class="header-title">
                        <h1 class="row-title before-sky">
                            主机列表
                        </h1>
                    </div>
                    <!--Header Buttons-->
                    <div class="header-buttons">
                        <a class="sidebar-toggler" href="#">
                            <i class="fa fa-arrows-h"></i>
                        </a>
                        <a class="refresh" id="refresh-toggler" href="">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </a>
                        <a class="fullscreen" id="fullscreen-toggler" href="#">
                            <i class="glyphicon glyphicon-fullscreen"></i>
                        </a>
                    </div>
                    <!--Header Buttons End-->
                </div>
                <!-- /Page Header -->
				
       <div class="row">
            <div class="col-md-12">
                 <div class="panel panel-body panel-default">
                      <div class="panel-body">
						  <div class="col-md-4 pull-left">
							<h5 class="row-title before-sky"><i class="glyphicon glyphicon-compressed sky"></i>一共{{ all_host_list.paginator.count }}台服务器</h5>			  
						  </div>
						  <div  class="input-group col-md-4 pull-right">
							<form class="form-search" action="." method="post">
							 {% csrf_token %}
								<div class="input-group">
									<input type="text" class="form-control" name='search' value={{ search }}>
									<span class="input-group-btn">
										<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search danger circular"></i></button>
									</span>
								</div>
							</form>
						  </div>
					  </div>
                           {% if all_host_list %}
							<div class="flip-scroll">
							   <table class="table table-striped table-bordered table-hover">
								   <thead class="flip-content bordered-palegreen">
									   <tr>
										  <th>ID</th>
										  <th>主机名</th>
										  <th>IP地址</th>
										  <th>版本</th>
										  <th>型号</th>
										  <th>机柜</th>
										  <th>操作系统</th>										  
										  <th>使用状态</th>
										  <th>所属组</th>
										  <th>备注</th>
										  <th>操作</th>
									   </tr>
								   </thead>
								   
								   <tbody>
								   {% for all_host in all_host_list %}
									   <tr>
										  <td>{{ forloop.counter }}</td>
										  <td><a href="/asset/grains_get/?id={{ all_host.hostname }}">{{ all_host.hostname }}</a> </td>
										  <td>{{ all_host.ip }}</td>
										  <td>{{ all_host.version }}</td>
										  <td>{{ all_host.productname }}</td>
										  <td>{{ all_host.idc_jg }}</td>
										  <td>{{ all_host.os_ver }}</td>
										  {% if all_host.status == 'True' %}
											<td><span class="label label-success"><i class="fa-fw fa fa-check"></i><strong>UP</strong></span> </td>
										  {% else %}									
											<td><span class="label label-darkorange">  <i class="fa-fw fa fa-times"></i><strong>Down</strong></span></td>
										  {% endif %}
										  <td>
											{% for i in all_host.hostgroups_set.all %}
											{{ i }},
											{% endfor %}
										  </td>
										  <td>{{ all_host.remark }}</td>
										  <td>
											<a href="{% url 'hostinfo' id=all_host.id %}" class="btn btn-info btn-sm" ><i class="fa fa-edit"></i>管理</a>
											<!--a href="{% url 'host_manage' id=all_host.id %}" class="btn btn-info btn-sm" ><i class="fa fa-edit"></i>编辑</a--> 
											<a href="javascript:void(0)" onclick="dodel({{ all_host.id }})" style="color:white" class="btn btn-danger btn-sm" data-toggle="modal" role="button" ><i class="fa fa-trash-o"></i>删除</a>
										  </td>
									   </tr>
								   {% endfor %}
								   </tbody>
								</table>
							</div>
                           {% endif %}
						   <div class="modal fade" id="myModal" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true">
						   <div class="modal-dialog">
							  <div class="modal-content">
								 <div class="widget-header bg-blue">
									<button type="button" class="close" 
									   data-dismiss="modal" aria-hidden="true">
										  &times;
									</button>
									<span class="widget-caption">确认框</span>
								 </div>
								 <div class="modal-body">
									确认删除？（同时删除主机信息）
								 </div>
								 <div class="widget-header bg-blue">
									<button type="button" class="btn btn-default" 
									   data-dismiss="modal">取消
									</button>
									<a href="/deploy/key_delete/?node_name=###" class="btn btn-primary btn-darkorange" >确认</a>
								 </div>
							  </div><!-- /.modal-content -->
							</div><!-- /.modal -->
							</div>
							 <div class="pull-left">
							   <a href="/asset/hosts_autget/?action=flush" class="btn btn-info btn-sm" role="button">全部同步</a>
							   <a href="/asset/hosts_autget/?action=partflush" class="btn btn-info btn-sm" role="button">部分同步</a>
							   <a href="{% url 'add_host' %}" class="btn btn-info btn-sm" role="button">添加</a>
							 </div>
							 <div class="col-md-8"> 									   
							   {% if all_host_list.has_previous %}
									<a href="?page={{ all_host_list.previous_page_number }}&search={{ search }}">上一页</a>
							   {% endif %}
							   <span class="current">
									第{{ all_host_list.number }}页，共{{ all_host_list.paginator.num_pages }}页												
							   </span> 
							   {% if all_host_list.has_next %}
									<a href="?page={{ all_host_list.next_page_number }}&search={{ search }}">下一页</a>
							   {% endif %}								  
							 </div>
                          
                         </div>
                     </div>
                
             </div>
      	<!--row end-->
<script type="text/javascript">
 function dodel(id){
        $('.modal').modal('show').on('shown.bs.modal',function(){
            $(".btn-primary").attr('href','/asset/delete_host/?id='+id+'&delete=1');
        })
    }
</script>
{% endblock %}
