{% extends "host_list.html" %}
{% block content %}
			<div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="/">Dashboard</a>
                        </li>
                        <li class="active">设备管理</li>
						<li class="active">{{ page_name }}</li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->
                <!-- Page Header -->
				<div class="page-header position-relative">
                    <div class="header-title">
                        <h1>
                            {{ page_name }}
                        </h1>
                    </div>
                    <!--Header Buttons-->
                    <div class="header-buttons">
                        <a class="sidebar-toggler" href="#">
                            <i class="fa fa-arrows-h"></i>
                        </a>
                        <a class="refresh" id="refresh-toggler" href="">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </a>
                        <a class="fullscreen" id="fullscreen-toggler" href="#">
                            <i class="glyphicon glyphicon-fullscreen"></i>
                        </a>
                    </div>
                    <!--Header Buttons End-->
                </div>
                <!-- /Page Header -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form class="form-horizontal form-border" id="form" method="post" action=".">
                                       {% csrf_token %}
                                       <div class="form-group">
                                             <label class="col-sm-3 control-label">IP地址</label>
                                             <div class="col-sm-6">
                                             {{ form.ip }}
                                             {{ form.ip.errors }}
                                             </div>
                                       </div>
                                       <div class="form-group">
                                             <label class="col-sm-3 control-label">主机名</label>
                                             <div class="col-sm-6">
                                             {{ form.hostname }}
                                             {{ form.hostname.errors }}
                                             </div>
                                        </div>
                                        <div class="form-group">
                                             <label class="col-sm-3 control-label">版本</label>
                                             <div class="col-sm-6">
                                             {{ form.version }}
                                             {{ form.version.errors }}
                                             </div>
                                        </div>
                                        <div class="form-group">
                                             <label class="col-sm-3 control-label">应用</label>
                                             <div class="col-sm-6">
                                             {{ form.application }}
											 {{ form.application.errors }}
                                             </div>
                                        </div>
                                        <div class="form-group">
                                             <label class="col-sm-3 control-label">机柜编号</label>
                                             <div class="col-sm-6">
                                             {{ form.idc_jg }}
                                             {{ form.idc_jg.errors }}
                                             </div>
                                        </div>
                                        <div class="form-group">
                                             <label class="col-sm-3 control-label">状态</label>
                                             <div class="col-sm-6">
                                             {{ form.status }}
					     {{ form.status.errors }}
                                             </div>
                                        </div>
                                        <div class="form-group">
                                             <label class="col-sm-3 control-label">备注</label>
                                             <div class="col-sm-6">
                                             {{ form.remark }}
					     {{ form.remark.errors }}
                                              </div>
                                         </div> 
                                         <div class="col-sm-offset-8 col-sm-10">
                                             {% ifequal action 'add' %}
                                             <button type="submit" class="btn btn-primary">添加</button>
                                             {% endifequal %}
                                             {% ifequal action 'edit' %}
											 <a onclick="history.back();" class="btn btn-info btn-lg" role="button">返回</a>
                                             <button type="submit" class="btn btn-primary btn-lg" name="operate" value="update">更新</button>
                                             {% endifequal %}
                                        </div>
                                    </div>
                                </form>

                            </div> <!-- panel body -->
                        </div> <!-- panel end -->
                    </div> <!-- col end -->
                </div> <!-- row end -->

{% endblock %}
